# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

Thumbs.db
gui/img/classic/*
jcz/resources/plugins/classic/tiles/*/*.jpg
jcz/resources/plugins/rgg_siege/tiles/*/*.jpg
